[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/levee223/ghost-casper.git
[submodule "core/client"]
	path = core/client
	url = https://github.com/levee223/ghost-admin.git
